<h1>My Tasks:</h1>

<% @tasks.each() do |task| %>
  <li><%= task.description() %><a href='/tasks/<%= task.id() %>/edit'>
    <p>Update this task's description</p></a></li>
<% end %>

<h1>My Unfinished Tasks:</h1>

<ul>
  <% @tasks.not_done().each do |task| %>
    <li><%= task.description %></li>
  <% end %>
</ul>

<a href='/tasks/add'>Add Task</a>
