<h1>Add a List</h1>

<p>Add a List here:</p>

<form action="/lists" method="post">
  <div class="form-group">
    <label for="name">List Name:</label>
    <input id="name" name="name" type="text">
  </div>

  <button type="submit">Add List</button>
</form>
