<h3>Add a task to the list:</h3>

<form action="/tasks" method="post">
  <div class="form-group">
    <label for='name'>Name:</label>
    <input id="name" name="name" type="text">
    <input id="task_type" name="task_type" type="hidden" value="<%= @list.id %>">
  </div>

  <button type="submit">Add Task</button>
</form>
