<h3>Add a task to the list:</h3>

<form action="/tasks" method="post">
  <div class="form-group">
    <label for='description'>Enter a description of a task:</label>
    <input id="description" name="description" type="text">
    <label for='due_date'>Enter in a due date for this task:</lavel>
    <input id="due_date" name="due_date" type="date">
  </div>

  <button type="submit">Add Task</button>
</form>
